#!/bin/sh
#***************************************************************************
# ------------------------------------------------------------------------
# Copyright (c) 2026 Broadcom Inc. and/or its subsidiaries. All Rights Reserved. Broadcom Confidential.
# ------------------------------------------------------------------------
#

[Unit]
Description=Avi SE Service

[Service]
TimeoutStartSec=0
Restart=always

ExecStart={{ AVI_EXECUTABLE }} start
ExecStop={{ AVI_EXECUTABLE }} stop

[Install]
WantedBy=multi-user.target